fastapi
uvicorn
sqlalchemy
python-multipart
passlib
bcrypt
argon2-cffi
python-jose
pdfplumber
pytesseract
pillow
selenium
webdriver-manager
requests
numpy
faiss-cpu
sentence-transformers
python-docx
openpyxl
python-pptx
python-dotenv
